footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.1);
}
footer p{
    color: #5e5e5e;
    margin: 10px 0;
    font-size: .8rem;
}