*,*::before,*::after { box-sizing: border-box; }
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(151,151,151,.03);
}
ul { list-style: none; }
a  { text-decoration: none; }
img{
    max-width: 100%;
    display: block;
    height: auto;
}
