/*=============== GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*=============== VARIABLES CSS */
:root {
  --header-height: 3.5rem;

  /*========== Colors */
  --first-color: hsl(184, 55%, 55%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 99%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography */
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight */
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: 0;
  /* background-color: var(--body-color); */
  color: var(--body-color);
  /*For animation dark mode*/
  transition: 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--body-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES */
.container {
  max-width: 900px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.section {
  padding: 6.5rem 0 1rem;
}

.section__title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.section__title::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 67px;
  height: 1px;
  background-color: var(--first-color);
}

/*=============== BUTTONS */
.button {
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 1.25rem 2rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--button-color-alt);
}

.button--gray {
  background-color: hsl(0, 0%, 75%);
  color: var(--title-color);
}

.button--gray:hover {
  background-color: hsl(0, 0%, 63%);
}

.button--small {
  padding: 1rem 1.5rem;
}

/*=============== BREAKPOINTS */
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .home__title {
    font-size: var(--h1-font-size);
  }
  .home__button {
    font-size: var(--smaller-font-size);
  }

  .story__square,
  .story__img,
  .testimonial__square,
  .testimonial__img {
    width: 180px;
  }

  .story__square,
  .testimonial__square {
    height: 180px;
  }

  .products__container {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .featured__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 8rem 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    justify-content: initial;
    column-gap: 3rem;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row !important;
    gap: 2.5rem;
  }
  .nav__link {
    text-transform: initial !important;
    font-size: var(--normal-font-size) !important;
    color: var(--title-color);
  }
  .nav__btns {
    margin-left: auto;
  }

  .home__container {
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }
  .home__social {
    top: 47%;
    column-gap: 2rem;
    color: var(--title-color);
  }

  .featured__title,
  .featured__price,
  .new__title,
  .new__price {
    font-size: var(--normal-font-size);
  }

  .story__container,
  .testimonial__container,
  .newsletter__bg {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .story__section-title {
    text-align: initial;
  }
  .story__section-title::before {
    margin: initial;
  }
  .story__images {
    order: -1;
  }

  .products__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2.5rem;
  }
  .products__card {
    padding: 2rem 0;
  }
  .products__img {
    height: 155px;
  }

  .newsletter__bg {
    text-align: initial;
    column-gap: 2rem;
    padding: 4.5rem;
  }
  .newsletter__subscribe {
    flex-direction: row;
  }
  .newsletter__input {
    width: 100%;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }
  .footer__title {
    font-size: var(--h3-font-size);
  }
}

@media screen and (min-width: 992px) {
  .section__title {
    font-size: var(--h2-font-size);
  }

  .home__social {
    left: -6rem;
  }

  .featured__container {
    grid-template-columns: repeat(3, 312px);
    padding-top: 2rem;
  }

  .story__container,
  .testimonial__container {
    column-gap: 8rem;
  }

  .story__square,
  .story__img,
  .testimonial__square,
  .testimonial__img {
    width: 450px;
  }

  .story__square,
  .testimonial__square {
    height: 450px;
  }

  .products__container,
  .new__container {
    padding-top: 2rem;
  }

  .testimonial__container {
    padding-bottom: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .story__container,
  .testimonial__container {
    column-gap: 13rem;
  }

  .story__container {
    padding-top: 3rem;
  }
  .story__img {
    left: 5rem;
    top: -5rem;
  }

  .testimonial__img {
    right: 5rem;
    top: 5rem;
  }

  .scrollup {
    right: 3rem;
  }
}

/*=================== Background Animation */
html {
  /* height: 2000px; */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 202px 1681px #fff, 1816px 767px #fff, 947px 1257px #fff,
    71px 54px #fff, 724px 1784px #fff, 1280px 1892px #fff, 1494px 1126px #fff,
    60px 611px #fff, 580px 1848px #fff, 657px 1180px #fff, 1961px 930px #fff,
    337px 1513px #fff, 258px 1257px #fff, 1735px 1974px #fff, 319px 1005px #fff,
    1335px 1135px #fff, 1404px 5px #fff, 234px 1038px #fff, 997px 1025px #fff,
    463px 260px #fff, 1315px 73px #fff, 220px 430px #fff, 205px 1874px #fff,
    1564px 1225px #fff, 1529px 228px #fff, 1762px 1113px #fff,
    1769px 1883px #fff, 1837px 576px #fff, 1940px 1402px #fff, 101px 1763px #fff,
    393px 599px #fff, 1653px 1729px #fff, 1168px 237px #fff, 271px 1397px #fff,
    186px 82px #fff, 643px 1757px #fff, 1585px 1421px #fff, 1420px 1671px #fff,
    1642px 1908px #fff, 1356px 930px #fff, 768px 1732px #fff, 85px 1887px #fff,
    465px 46px #fff, 1523px 555px #fff, 202px 252px #fff, 1227px 380px #fff,
    37px 959px #fff, 1565px 1022px #fff, 1512px 1816px #fff, 1704px 1327px #fff,
    1610px 164px #fff, 44px 252px #fff, 1622px 1496px #fff, 1890px 788px #fff,
    1808px 17px #fff, 1055px 1401px #fff, 1713px 1630px #fff, 689px 1268px #fff,
    1517px 131px #fff, 1446px 2px #fff, 173px 20px #fff, 1194px 232px #fff,
    1396px 1298px #fff, 44px 1723px #fff, 145px 1209px #fff, 1716px 976px #fff,
    1186px 1981px #fff, 1618px 1380px #fff, 259px 1322px #fff, 498px 446px #fff,
    599px 1165px #fff, 1944px 1893px #fff, 153px 1829px #fff, 1352px 1907px #fff,
    683px 1895px #fff, 336px 453px #fff, 1424px 1776px #fff, 196px 1848px #fff,
    1411px 609px #fff, 1987px 981px #fff, 1451px 1117px #fff, 1899px 1373px #fff,
    1741px 269px #fff, 573px 441px #fff, 1707px 1366px #fff, 1554px 1933px #fff,
    586px 466px #fff, 110px 279px #fff, 1179px 1743px #fff, 460px 375px #fff,
    1421px 888px #fff, 567px 571px #fff, 390px 1610px #fff, 616px 1679px #fff,
    45px 46px #fff, 506px 317px #fff, 1086px 1722px #fff, 685px 1038px #fff,
    1596px 846px #fff, 1617px 1419px #fff, 1217px 1613px #fff,
    1850px 1147px #fff, 659px 1453px #fff, 1209px 643px #fff, 921px 117px #fff,
    1019px 986px #fff, 1940px 1913px #fff, 187px 934px #fff, 1498px 756px #fff,
    547px 1180px #fff, 1007px 957px #fff, 183px 533px #fff, 76px 716px #fff,
    1090px 248px #fff, 1994px 843px #fff, 724px 1486px #fff, 1642px 1835px #fff,
    1817px 1562px #fff, 617px 756px #fff, 502px 487px #fff, 1634px 1562px #fff,
    232px 277px #fff, 308px 1136px #fff, 930px 1002px #fff, 1571px 314px #fff,
    1099px 930px #fff, 541px 273px #fff, 963px 643px #fff, 1220px 1826px #fff,
    436px 578px #fff, 1065px 1775px #fff, 869px 1823px #fff, 539px 796px #fff,
    1182px 561px #fff, 1665px 132px #fff, 1727px 1389px #fff, 1169px 599px #fff,
    1279px 1229px #fff, 1824px 296px #fff, 320px 816px #fff, 1071px 1194px #fff,
    1198px 1134px #fff, 1080px 1066px #fff, 1610px 1035px #fff,
    1294px 292px #fff, 501px 455px #fff, 338px 1427px #fff, 1948px 69px #fff,
    64px 1238px #fff, 1266px 1626px #fff, 876px 997px #fff, 683px 470px #fff,
    1141px 1395px #fff, 1791px 306px #fff, 1931px 1400px #fff, 35px 586px #fff,
    167px 298px #fff, 1795px 1017px #fff, 1898px 408px #fff, 1907px 147px #fff,
    48px 991px #fff, 1301px 157px #fff, 1595px 830px #fff, 144px 1756px #fff,
    375px 721px #fff, 1656px 281px #fff, 233px 1379px #fff, 15px 1028px #fff,
    1501px 1376px #fff, 887px 1179px #fff, 1755px 1445px #fff, 371px 1906px #fff,
    237px 550px #fff, 497px 1146px #fff, 1428px 1534px #fff, 773px 609px #fff,
    1232px 1662px #fff, 1297px 1586px #fff, 869px 1304px #fff, 1447px 782px #fff,
    1051px 733px #fff, 106px 1339px #fff, 717px 915px #fff, 1969px 815px #fff,
    463px 1002px #fff, 1932px 876px #fff, 1314px 1204px #fff, 1272px 700px #fff,
    1816px 1907px #fff, 48px 229px #fff, 810px 1673px #fff, 1021px 1251px #fff,
    1517px 1771px #fff, 408px 307px #fff, 81px 160px #fff, 248px 1482px #fff,
    405px 849px #fff, 1861px 526px #fff, 331px 1804px #fff, 1326px 1850px #fff,
    8px 129px #fff, 81px 588px #fff, 637px 1220px #fff, 1356px 227px #fff,
    564px 397px #fff, 34px 32px #fff, 485px 401px #fff, 1656px 814px #fff,
    1208px 919px #fff, 86px 221px #fff, 1285px 1310px #fff, 1824px 423px #fff,
    669px 519px #fff, 337px 44px #fff, 217px 167px #fff, 1123px 936px #fff,
    626px 885px #fff, 189px 334px #fff, 739px 1644px #fff, 1537px 1576px #fff,
    1111px 76px #fff, 249px 1053px #fff, 1555px 196px #fff, 808px 1300px #fff,
    1583px 1643px #fff, 812px 1473px #fff, 904px 1574px #fff, 1581px 1067px #fff,
    838px 1595px #fff, 288px 990px #fff, 367px 1017px #fff, 1949px 118px #fff,
    959px 1100px #fff, 1296px 1192px #fff, 1697px 447px #fff, 1610px 628px #fff,
    529px 1091px #fff, 573px 67px #fff, 563px 546px #fff, 867px 1329px #fff,
    388px 641px #fff, 512px 575px #fff, 1270px 904px #fff, 100px 1563px #fff,
    944px 910px #fff, 970px 286px #fff, 1772px 82px #fff, 1649px 268px #fff,
    581px 1685px #fff, 791px 833px #fff, 1378px 463px #fff, 914px 1878px #fff,
    1069px 495px #fff, 1096px 834px #fff, 1513px 1527px #fff, 1814px 1198px #fff,
    1832px 361px #fff, 863px 1007px #fff, 587px 148px #fff, 842px 1091px #fff,
    1669px 376px #fff, 1954px 1344px #fff, 398px 325px #fff, 674px 173px #fff,
    1889px 348px #fff, 719px 846px #fff, 1647px 400px #fff, 1626px 1571px #fff,
    288px 562px #fff, 1835px 684px #fff, 754px 587px #fff, 1478px 1828px #fff,
    733px 1139px #fff, 1895px 1008px #fff, 1646px 599px #fff, 1997px 1542px #fff,
    943px 1893px #fff, 1894px 812px #fff, 1585px 1823px #fff, 964px 570px #fff,
    432px 316px #fff, 130px 1389px #fff, 1896px 788px #fff, 458px 1470px #fff,
    647px 380px #fff, 1637px 3px #fff, 937px 1839px #fff, 1400px 1883px #fff,
    227px 1681px #fff, 124px 1361px #fff, 1940px 471px #fff, 1071px 1864px #fff,
    39px 1523px #fff, 19px 720px #fff, 541px 343px #fff, 126px 1028px #fff,
    1694px 318px #fff, 1848px 235px #fff, 1601px 1387px #fff, 1409px 1782px #fff,
    21px 617px #fff, 1549px 6px #fff, 684px 843px #fff, 385px 370px #fff,
    980px 821px #fff, 752px 1323px #fff, 390px 1687px #fff, 1847px 1786px #fff,
    1920px 1051px #fff, 1506px 376px #fff, 1603px 1302px #fff, 215px 1775px #fff,
    1393px 626px #fff, 470px 506px #fff, 1336px 40px #fff, 654px 1868px #fff,
    1567px 578px #fff, 1527px 1145px #fff, 110px 1980px #fff, 1654px 1061px #fff,
    1368px 57px #fff, 619px 1946px #fff, 995px 1782px #fff, 269px 1952px #fff,
    239px 1683px #fff, 633px 1749px #fff, 1076px 1027px #fff, 58px 1778px #fff,
    1030px 1636px #fff, 1440px 703px #fff, 399px 1292px #fff, 1615px 1279px #fff,
    935px 1560px #fff, 475px 1972px #fff, 286px 994px #fff, 244px 1004px #fff,
    969px 873px #fff, 225px 1656px #fff, 82px 905px #fff, 351px 1736px #fff,
    55px 752px #fff, 1181px 1708px #fff, 999px 1069px #fff, 350px 166px #fff,
    1250px 1062px #fff, 335px 1589px #fff, 1054px 616px #fff, 1680px 1785px #fff,
    1786px 256px #fff, 1844px 1701px #fff, 1917px 858px #fff, 564px 214px #fff,
    1464px 1934px #fff, 847px 1187px #fff, 1559px 1231px #fff,
    1147px 1980px #fff, 1090px 1645px #fff, 1597px 397px #fff, 229px 1186px #fff,
    1223px 734px #fff, 44px 1957px #fff, 1404px 867px #fff, 1647px 1624px #fff,
    1720px 1871px #fff, 1888px 108px #fff, 1089px 885px #fff, 907px 1068px #fff,
    1751px 711px #fff, 1233px 398px #fff, 90px 98px #fff, 55px 1772px #fff,
    1689px 540px #fff, 1239px 339px #fff, 550px 827px #fff, 1851px 856px #fff,
    1312px 824px #fff, 1761px 425px #fff, 1049px 1405px #fff, 818px 1145px #fff,
    1467px 1340px #fff, 711px 1371px #fff, 1591px 1706px #fff, 1039px 53px #fff,
    872px 1076px #fff, 1236px 672px #fff, 1783px 1694px #fff, 925px 1797px #fff,
    706px 921px #fff, 964px 150px #fff, 875px 1819px #fff, 342px 960px #fff,
    190px 1034px #fff, 748px 1180px #fff, 1191px 870px #fff, 1520px 1419px #fff,
    1234px 1001px #fff, 1676px 1720px #fff, 816px 558px #fff, 689px 1309px #fff,
    82px 1691px #fff, 1372px 1421px #fff, 1829px 1356px #fff, 974px 60px #fff,
    405px 1653px #fff, 1265px 898px #fff, 185px 1499px #fff, 317px 626px #fff,
    1825px 210px #fff, 130px 1198px #fff, 1772px 177px #fff, 1256px 1509px #fff,
    934px 46px #fff, 369px 1272px #fff, 1581px 1533px #fff, 1297px 237px #fff,
    604px 168px #fff, 1901px 452px #fff, 1227px 651px #fff, 915px 1289px #fff,
    845px 958px #fff, 73px 325px #fff, 580px 664px #fff, 1676px 910px #fff,
    142px 1702px #fff, 384px 595px #fff, 1516px 59px #fff, 657px 1980px #fff,
    759px 1237px #fff, 1377px 458px #fff, 333px 36px #fff, 649px 286px #fff,
    1240px 1994px #fff, 367px 1223px #fff, 181px 1643px #fff, 992px 193px #fff,
    459px 1876px #fff, 872px 1670px #fff, 1848px 613px #fff, 714px 624px #fff,
    1389px 1624px #fff, 347px 1655px #fff, 994px 618px #fff, 368px 747px #fff,
    261px 561px #fff, 1925px 703px #fff, 541px 1597px #fff, 570px 204px #fff,
    1334px 1846px #fff, 450px 1265px #fff, 801px 323px #fff, 1903px 660px #fff,
    610px 770px #fff, 196px 635px #fff, 24px 1221px #fff, 1201px 1438px #fff,
    1894px 932px #fff, 1183px 1649px #fff, 1088px 1988px #fff,
    1016px 1188px #fff, 643px 1900px #fff, 1304px 1202px #fff, 544px 1438px #fff,
    1487px 1199px #fff, 413px 1030px #fff, 1577px 894px #fff, 1462px 1786px #fff,
    804px 1511px #fff, 382px 1418px #fff, 240px 1039px #fff, 1856px 510px #fff,
    1137px 1627px #fff, 1911px 1431px #fff, 823px 550px #fff, 653px 1511px #fff,
    45px 134px #fff, 1454px 857px #fff, 533px 1806px #fff, 201px 803px #fff,
    564px 138px #fff, 1534px 479px #fff, 423px 555px #fff, 43px 1420px #fff,
    1850px 359px #fff, 1476px 1930px #fff, 1731px 1048px #fff, 1250px 423px #fff,
    1253px 525px #fff, 263px 1103px #fff, 1054px 282px #fff, 198px 1125px #fff,
    1748px 648px #fff, 1391px 1010px #fff, 1794px 1413px #fff, 1249px 986px #fff,
    100px 513px #fff, 1687px 1467px #fff, 877px 103px #fff, 582px 26px #fff,
    788px 830px #fff, 637px 946px #fff, 266px 1751px #fff, 1635px 1214px #fff,
    93px 1825px #fff, 1563px 1440px #fff, 232px 96px #fff, 180px 984px #fff,
    520px 1043px #fff, 1294px 122px #fff, 1167px 1518px #fff, 547px 416px #fff,
    1413px 83px #fff, 1666px 247px #fff, 1899px 755px #fff, 746px 736px #fff,
    807px 1595px #fff, 191px 378px #fff, 918px 1763px #fff, 675px 473px #fff,
    736px 1159px #fff, 1039px 1812px #fff, 1540px 221px #fff, 1063px 477px #fff,
    1363px 1101px #fff, 899px 1782px #fff, 180px 1826px #fff, 555px 97px #fff,
    338px 1397px #fff, 1294px 1051px #fff, 1947px 601px #fff, 1336px 1265px #fff,
    704px 1491px #fff, 977px 446px #fff, 982px 1661px #fff, 480px 1457px #fff,
    1023px 1989px #fff, 1054px 1840px #fff, 841px 1520px #fff,
    1806px 1020px #fff, 184px 1701px #fff, 1359px 224px #fff, 1503px 1209px #fff,
    1381px 269px #fff, 246px 1341px #fff, 1187px 210px #fff, 1945px 789px #fff,
    1198px 1424px #fff, 338px 628px #fff, 1452px 151px #fff, 823px 389px #fff,
    62px 1992px #fff, 1369px 1205px #fff, 1017px 649px #fff, 995px 752px #fff,
    1544px 1924px #fff, 844px 1947px #fff, 280px 1875px #fff, 1616px 204px #fff,
    779px 1221px #fff, 1621px 338px #fff, 657px 1665px #fff, 1127px 546px #fff,
    89px 272px #fff, 850px 1354px #fff, 672px 1101px #fff, 139px 514px #fff,
    1160px 1907px #fff, 1818px 796px #fff, 363px 1014px #fff, 1555px 226px #fff,
    1906px 347px #fff, 334px 739px #fff, 1513px 673px #fff, 1473px 101px #fff,
    1292px 1374px #fff, 1148px 1780px #fff, 1424px 747px #fff,
    1059px 1990px #fff, 1250px 1615px #fff, 133px 913px #fff, 1591px 1029px #fff,
    1829px 1554px #fff, 845px 83px #fff, 1699px 1065px #fff, 638px 1993px #fff,
    1704px 127px #fff, 718px 246px #fff, 1611px 589px #fff, 996px 1383px #fff,
    464px 540px #fff, 737px 795px #fff, 1972px 965px #fff, 1521px 739px #fff,
    460px 245px #fff, 645px 550px #fff, 859px 1388px #fff, 366px 607px #fff,
    1px 961px #fff, 1261px 1709px #fff, 523px 961px #fff, 1960px 145px #fff,
    646px 305px #fff, 672px 1662px #fff, 889px 560px #fff, 1395px 989px #fff,
    1033px 946px #fff, 1098px 84px #fff, 444px 1865px #fff, 708px 85px #fff,
    960px 1197px #fff, 594px 1529px #fff, 1611px 608px #fff, 791px 972px #fff,
    863px 110px #fff, 573px 1686px #fff, 828px 1891px #fff, 518px 342px #fff,
    58px 1310px #fff, 1279px 227px #fff, 1192px 172px #fff, 447px 1043px #fff,
    1854px 1522px #fff, 1398px 594px #fff, 875px 904px #fff, 1212px 1674px #fff,
    1178px 1244px #fff, 1718px 1893px #fff, 1728px 899px #fff,
    1804px 1761px #fff, 1556px 359px #fff, 630px 369px #fff, 874px 434px #fff,
    1054px 1317px #fff, 935px 1717px #fff, 1493px 896px #fff, 911px 1064px #fff,
    1451px 1642px #fff, 992px 1635px #fff, 1162px 698px #fff, 618px 607px #fff,
    1233px 867px #fff, 1377px 1964px #fff, 1060px 1811px #fff, 720px 32px #fff,
    1584px 169px #fff, 663px 379px #fff, 1329px 1025px #fff, 407px 471px #fff,
    1702px 539px #fff, 1089px 1169px #fff, 340px 889px #fff, 91px 1890px #fff,
    492px 1742px #fff, 655px 1840px #fff, 1657px 1899px #fff, 262px 1220px #fff,
    862px 1962px #fff, 1801px 1201px #fff, 1540px 1663px #fff, 128px 282px #fff,
    1873px 147px #fff, 1018px 951px #fff, 907px 1424px #fff, 653px 66px #fff,
    1518px 604px #fff, 455px 1188px #fff, 1102px 1839px #fff, 558px 1940px #fff,
    1209px 788px #fff, 1328px 1545px #fff, 970px 516px #fff, 225px 729px #fff,
    498px 1256px #fff, 608px 616px #fff, 1058px 214px #fff, 1156px 1133px #fff,
    425px 1419px #fff, 673px 1669px #fff, 89px 734px #fff, 850px 1217px #fff,
    764px 1525px #fff, 363px 1424px #fff, 666px 1411px #fff, 1645px 708px #fff,
    1850px 898px #fff, 767px 598px #fff, 1px 574px #fff, 461px 1714px #fff,
    782px 1896px #fff, 423px 1781px #fff, 336px 98px #fff, 1317px 27px #fff,
    1501px 1926px #fff, 520px 1180px #fff, 358px 702px #fff, 1808px 1705px #fff,
    605px 1033px #fff, 1716px 972px #fff, 1811px 793px #fff, 1942px 21px #fff,
    819px 111px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  /* top: 2000px; */
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 202px 1681px #fff, 1816px 767px #fff, 947px 1257px #fff,
    71px 54px #fff, 724px 1784px #fff, 1280px 1892px #fff, 1494px 1126px #fff,
    60px 611px #fff, 580px 1848px #fff, 657px 1180px #fff, 1961px 930px #fff,
    337px 1513px #fff, 258px 1257px #fff, 1735px 1974px #fff, 319px 1005px #fff,
    1335px 1135px #fff, 1404px 5px #fff, 234px 1038px #fff, 997px 1025px #fff,
    463px 260px #fff, 1315px 73px #fff, 220px 430px #fff, 205px 1874px #fff,
    1564px 1225px #fff, 1529px 228px #fff, 1762px 1113px #fff,
    1769px 1883px #fff, 1837px 576px #fff, 1940px 1402px #fff, 101px 1763px #fff,
    393px 599px #fff, 1653px 1729px #fff, 1168px 237px #fff, 271px 1397px #fff,
    186px 82px #fff, 643px 1757px #fff, 1585px 1421px #fff, 1420px 1671px #fff,
    1642px 1908px #fff, 1356px 930px #fff, 768px 1732px #fff, 85px 1887px #fff,
    465px 46px #fff, 1523px 555px #fff, 202px 252px #fff, 1227px 380px #fff,
    37px 959px #fff, 1565px 1022px #fff, 1512px 1816px #fff, 1704px 1327px #fff,
    1610px 164px #fff, 44px 252px #fff, 1622px 1496px #fff, 1890px 788px #fff,
    1808px 17px #fff, 1055px 1401px #fff, 1713px 1630px #fff, 689px 1268px #fff,
    1517px 131px #fff, 1446px 2px #fff, 173px 20px #fff, 1194px 232px #fff,
    1396px 1298px #fff, 44px 1723px #fff, 145px 1209px #fff, 1716px 976px #fff,
    1186px 1981px #fff, 1618px 1380px #fff, 259px 1322px #fff, 498px 446px #fff,
    599px 1165px #fff, 1944px 1893px #fff, 153px 1829px #fff, 1352px 1907px #fff,
    683px 1895px #fff, 336px 453px #fff, 1424px 1776px #fff, 196px 1848px #fff,
    1411px 609px #fff, 1987px 981px #fff, 1451px 1117px #fff, 1899px 1373px #fff,
    1741px 269px #fff, 573px 441px #fff, 1707px 1366px #fff, 1554px 1933px #fff,
    586px 466px #fff, 110px 279px #fff, 1179px 1743px #fff, 460px 375px #fff,
    1421px 888px #fff, 567px 571px #fff, 390px 1610px #fff, 616px 1679px #fff,
    45px 46px #fff, 506px 317px #fff, 1086px 1722px #fff, 685px 1038px #fff,
    1596px 846px #fff, 1617px 1419px #fff, 1217px 1613px #fff,
    1850px 1147px #fff, 659px 1453px #fff, 1209px 643px #fff, 921px 117px #fff,
    1019px 986px #fff, 1940px 1913px #fff, 187px 934px #fff, 1498px 756px #fff,
    547px 1180px #fff, 1007px 957px #fff, 183px 533px #fff, 76px 716px #fff,
    1090px 248px #fff, 1994px 843px #fff, 724px 1486px #fff, 1642px 1835px #fff,
    1817px 1562px #fff, 617px 756px #fff, 502px 487px #fff, 1634px 1562px #fff,
    232px 277px #fff, 308px 1136px #fff, 930px 1002px #fff, 1571px 314px #fff,
    1099px 930px #fff, 541px 273px #fff, 963px 643px #fff, 1220px 1826px #fff,
    436px 578px #fff, 1065px 1775px #fff, 869px 1823px #fff, 539px 796px #fff,
    1182px 561px #fff, 1665px 132px #fff, 1727px 1389px #fff, 1169px 599px #fff,
    1279px 1229px #fff, 1824px 296px #fff, 320px 816px #fff, 1071px 1194px #fff,
    1198px 1134px #fff, 1080px 1066px #fff, 1610px 1035px #fff,
    1294px 292px #fff, 501px 455px #fff, 338px 1427px #fff, 1948px 69px #fff,
    64px 1238px #fff, 1266px 1626px #fff, 876px 997px #fff, 683px 470px #fff,
    1141px 1395px #fff, 1791px 306px #fff, 1931px 1400px #fff, 35px 586px #fff,
    167px 298px #fff, 1795px 1017px #fff, 1898px 408px #fff, 1907px 147px #fff,
    48px 991px #fff, 1301px 157px #fff, 1595px 830px #fff, 144px 1756px #fff,
    375px 721px #fff, 1656px 281px #fff, 233px 1379px #fff, 15px 1028px #fff,
    1501px 1376px #fff, 887px 1179px #fff, 1755px 1445px #fff, 371px 1906px #fff,
    237px 550px #fff, 497px 1146px #fff, 1428px 1534px #fff, 773px 609px #fff,
    1232px 1662px #fff, 1297px 1586px #fff, 869px 1304px #fff, 1447px 782px #fff,
    1051px 733px #fff, 106px 1339px #fff, 717px 915px #fff, 1969px 815px #fff,
    463px 1002px #fff, 1932px 876px #fff, 1314px 1204px #fff, 1272px 700px #fff,
    1816px 1907px #fff, 48px 229px #fff, 810px 1673px #fff, 1021px 1251px #fff,
    1517px 1771px #fff, 408px 307px #fff, 81px 160px #fff, 248px 1482px #fff,
    405px 849px #fff, 1861px 526px #fff, 331px 1804px #fff, 1326px 1850px #fff,
    8px 129px #fff, 81px 588px #fff, 637px 1220px #fff, 1356px 227px #fff,
    564px 397px #fff, 34px 32px #fff, 485px 401px #fff, 1656px 814px #fff,
    1208px 919px #fff, 86px 221px #fff, 1285px 1310px #fff, 1824px 423px #fff,
    669px 519px #fff, 337px 44px #fff, 217px 167px #fff, 1123px 936px #fff,
    626px 885px #fff, 189px 334px #fff, 739px 1644px #fff, 1537px 1576px #fff,
    1111px 76px #fff, 249px 1053px #fff, 1555px 196px #fff, 808px 1300px #fff,
    1583px 1643px #fff, 812px 1473px #fff, 904px 1574px #fff, 1581px 1067px #fff,
    838px 1595px #fff, 288px 990px #fff, 367px 1017px #fff, 1949px 118px #fff,
    959px 1100px #fff, 1296px 1192px #fff, 1697px 447px #fff, 1610px 628px #fff,
    529px 1091px #fff, 573px 67px #fff, 563px 546px #fff, 867px 1329px #fff,
    388px 641px #fff, 512px 575px #fff, 1270px 904px #fff, 100px 1563px #fff,
    944px 910px #fff, 970px 286px #fff, 1772px 82px #fff, 1649px 268px #fff,
    581px 1685px #fff, 791px 833px #fff, 1378px 463px #fff, 914px 1878px #fff,
    1069px 495px #fff, 1096px 834px #fff, 1513px 1527px #fff, 1814px 1198px #fff,
    1832px 361px #fff, 863px 1007px #fff, 587px 148px #fff, 842px 1091px #fff,
    1669px 376px #fff, 1954px 1344px #fff, 398px 325px #fff, 674px 173px #fff,
    1889px 348px #fff, 719px 846px #fff, 1647px 400px #fff, 1626px 1571px #fff,
    288px 562px #fff, 1835px 684px #fff, 754px 587px #fff, 1478px 1828px #fff,
    733px 1139px #fff, 1895px 1008px #fff, 1646px 599px #fff, 1997px 1542px #fff,
    943px 1893px #fff, 1894px 812px #fff, 1585px 1823px #fff, 964px 570px #fff,
    432px 316px #fff, 130px 1389px #fff, 1896px 788px #fff, 458px 1470px #fff,
    647px 380px #fff, 1637px 3px #fff, 937px 1839px #fff, 1400px 1883px #fff,
    227px 1681px #fff, 124px 1361px #fff, 1940px 471px #fff, 1071px 1864px #fff,
    39px 1523px #fff, 19px 720px #fff, 541px 343px #fff, 126px 1028px #fff,
    1694px 318px #fff, 1848px 235px #fff, 1601px 1387px #fff, 1409px 1782px #fff,
    21px 617px #fff, 1549px 6px #fff, 684px 843px #fff, 385px 370px #fff,
    980px 821px #fff, 752px 1323px #fff, 390px 1687px #fff, 1847px 1786px #fff,
    1920px 1051px #fff, 1506px 376px #fff, 1603px 1302px #fff, 215px 1775px #fff,
    1393px 626px #fff, 470px 506px #fff, 1336px 40px #fff, 654px 1868px #fff,
    1567px 578px #fff, 1527px 1145px #fff, 110px 1980px #fff, 1654px 1061px #fff,
    1368px 57px #fff, 619px 1946px #fff, 995px 1782px #fff, 269px 1952px #fff,
    239px 1683px #fff, 633px 1749px #fff, 1076px 1027px #fff, 58px 1778px #fff,
    1030px 1636px #fff, 1440px 703px #fff, 399px 1292px #fff, 1615px 1279px #fff,
    935px 1560px #fff, 475px 1972px #fff, 286px 994px #fff, 244px 1004px #fff,
    969px 873px #fff, 225px 1656px #fff, 82px 905px #fff, 351px 1736px #fff,
    55px 752px #fff, 1181px 1708px #fff, 999px 1069px #fff, 350px 166px #fff,
    1250px 1062px #fff, 335px 1589px #fff, 1054px 616px #fff, 1680px 1785px #fff,
    1786px 256px #fff, 1844px 1701px #fff, 1917px 858px #fff, 564px 214px #fff,
    1464px 1934px #fff, 847px 1187px #fff, 1559px 1231px #fff,
    1147px 1980px #fff, 1090px 1645px #fff, 1597px 397px #fff, 229px 1186px #fff,
    1223px 734px #fff, 44px 1957px #fff, 1404px 867px #fff, 1647px 1624px #fff,
    1720px 1871px #fff, 1888px 108px #fff, 1089px 885px #fff, 907px 1068px #fff,
    1751px 711px #fff, 1233px 398px #fff, 90px 98px #fff, 55px 1772px #fff,
    1689px 540px #fff, 1239px 339px #fff, 550px 827px #fff, 1851px 856px #fff,
    1312px 824px #fff, 1761px 425px #fff, 1049px 1405px #fff, 818px 1145px #fff,
    1467px 1340px #fff, 711px 1371px #fff, 1591px 1706px #fff, 1039px 53px #fff,
    872px 1076px #fff, 1236px 672px #fff, 1783px 1694px #fff, 925px 1797px #fff,
    706px 921px #fff, 964px 150px #fff, 875px 1819px #fff, 342px 960px #fff,
    190px 1034px #fff, 748px 1180px #fff, 1191px 870px #fff, 1520px 1419px #fff,
    1234px 1001px #fff, 1676px 1720px #fff, 816px 558px #fff, 689px 1309px #fff,
    82px 1691px #fff, 1372px 1421px #fff, 1829px 1356px #fff, 974px 60px #fff,
    405px 1653px #fff, 1265px 898px #fff, 185px 1499px #fff, 317px 626px #fff,
    1825px 210px #fff, 130px 1198px #fff, 1772px 177px #fff, 1256px 1509px #fff,
    934px 46px #fff, 369px 1272px #fff, 1581px 1533px #fff, 1297px 237px #fff,
    604px 168px #fff, 1901px 452px #fff, 1227px 651px #fff, 915px 1289px #fff,
    845px 958px #fff, 73px 325px #fff, 580px 664px #fff, 1676px 910px #fff,
    142px 1702px #fff, 384px 595px #fff, 1516px 59px #fff, 657px 1980px #fff,
    759px 1237px #fff, 1377px 458px #fff, 333px 36px #fff, 649px 286px #fff,
    1240px 1994px #fff, 367px 1223px #fff, 181px 1643px #fff, 992px 193px #fff,
    459px 1876px #fff, 872px 1670px #fff, 1848px 613px #fff, 714px 624px #fff,
    1389px 1624px #fff, 347px 1655px #fff, 994px 618px #fff, 368px 747px #fff,
    261px 561px #fff, 1925px 703px #fff, 541px 1597px #fff, 570px 204px #fff,
    1334px 1846px #fff, 450px 1265px #fff, 801px 323px #fff, 1903px 660px #fff,
    610px 770px #fff, 196px 635px #fff, 24px 1221px #fff, 1201px 1438px #fff,
    1894px 932px #fff, 1183px 1649px #fff, 1088px 1988px #fff,
    1016px 1188px #fff, 643px 1900px #fff, 1304px 1202px #fff, 544px 1438px #fff,
    1487px 1199px #fff, 413px 1030px #fff, 1577px 894px #fff, 1462px 1786px #fff,
    804px 1511px #fff, 382px 1418px #fff, 240px 1039px #fff, 1856px 510px #fff,
    1137px 1627px #fff, 1911px 1431px #fff, 823px 550px #fff, 653px 1511px #fff,
    45px 134px #fff, 1454px 857px #fff, 533px 1806px #fff, 201px 803px #fff,
    564px 138px #fff, 1534px 479px #fff, 423px 555px #fff, 43px 1420px #fff,
    1850px 359px #fff, 1476px 1930px #fff, 1731px 1048px #fff, 1250px 423px #fff,
    1253px 525px #fff, 263px 1103px #fff, 1054px 282px #fff, 198px 1125px #fff,
    1748px 648px #fff, 1391px 1010px #fff, 1794px 1413px #fff, 1249px 986px #fff,
    100px 513px #fff, 1687px 1467px #fff, 877px 103px #fff, 582px 26px #fff,
    788px 830px #fff, 637px 946px #fff, 266px 1751px #fff, 1635px 1214px #fff,
    93px 1825px #fff, 1563px 1440px #fff, 232px 96px #fff, 180px 984px #fff,
    520px 1043px #fff, 1294px 122px #fff, 1167px 1518px #fff, 547px 416px #fff,
    1413px 83px #fff, 1666px 247px #fff, 1899px 755px #fff, 746px 736px #fff,
    807px 1595px #fff, 191px 378px #fff, 918px 1763px #fff, 675px 473px #fff,
    736px 1159px #fff, 1039px 1812px #fff, 1540px 221px #fff, 1063px 477px #fff,
    1363px 1101px #fff, 899px 1782px #fff, 180px 1826px #fff, 555px 97px #fff,
    338px 1397px #fff, 1294px 1051px #fff, 1947px 601px #fff, 1336px 1265px #fff,
    704px 1491px #fff, 977px 446px #fff, 982px 1661px #fff, 480px 1457px #fff,
    1023px 1989px #fff, 1054px 1840px #fff, 841px 1520px #fff,
    1806px 1020px #fff, 184px 1701px #fff, 1359px 224px #fff, 1503px 1209px #fff,
    1381px 269px #fff, 246px 1341px #fff, 1187px 210px #fff, 1945px 789px #fff,
    1198px 1424px #fff, 338px 628px #fff, 1452px 151px #fff, 823px 389px #fff,
    62px 1992px #fff, 1369px 1205px #fff, 1017px 649px #fff, 995px 752px #fff,
    1544px 1924px #fff, 844px 1947px #fff, 280px 1875px #fff, 1616px 204px #fff,
    779px 1221px #fff, 1621px 338px #fff, 657px 1665px #fff, 1127px 546px #fff,
    89px 272px #fff, 850px 1354px #fff, 672px 1101px #fff, 139px 514px #fff,
    1160px 1907px #fff, 1818px 796px #fff, 363px 1014px #fff, 1555px 226px #fff,
    1906px 347px #fff, 334px 739px #fff, 1513px 673px #fff, 1473px 101px #fff,
    1292px 1374px #fff, 1148px 1780px #fff, 1424px 747px #fff,
    1059px 1990px #fff, 1250px 1615px #fff, 133px 913px #fff, 1591px 1029px #fff,
    1829px 1554px #fff, 845px 83px #fff, 1699px 1065px #fff, 638px 1993px #fff,
    1704px 127px #fff, 718px 246px #fff, 1611px 589px #fff, 996px 1383px #fff,
    464px 540px #fff, 737px 795px #fff, 1972px 965px #fff, 1521px 739px #fff,
    460px 245px #fff, 645px 550px #fff, 859px 1388px #fff, 366px 607px #fff,
    1px 961px #fff, 1261px 1709px #fff, 523px 961px #fff, 1960px 145px #fff,
    646px 305px #fff, 672px 1662px #fff, 889px 560px #fff, 1395px 989px #fff,
    1033px 946px #fff, 1098px 84px #fff, 444px 1865px #fff, 708px 85px #fff,
    960px 1197px #fff, 594px 1529px #fff, 1611px 608px #fff, 791px 972px #fff,
    863px 110px #fff, 573px 1686px #fff, 828px 1891px #fff, 518px 342px #fff,
    58px 1310px #fff, 1279px 227px #fff, 1192px 172px #fff, 447px 1043px #fff,
    1854px 1522px #fff, 1398px 594px #fff, 875px 904px #fff, 1212px 1674px #fff,
    1178px 1244px #fff, 1718px 1893px #fff, 1728px 899px #fff,
    1804px 1761px #fff, 1556px 359px #fff, 630px 369px #fff, 874px 434px #fff,
    1054px 1317px #fff, 935px 1717px #fff, 1493px 896px #fff, 911px 1064px #fff,
    1451px 1642px #fff, 992px 1635px #fff, 1162px 698px #fff, 618px 607px #fff,
    1233px 867px #fff, 1377px 1964px #fff, 1060px 1811px #fff, 720px 32px #fff,
    1584px 169px #fff, 663px 379px #fff, 1329px 1025px #fff, 407px 471px #fff,
    1702px 539px #fff, 1089px 1169px #fff, 340px 889px #fff, 91px 1890px #fff,
    492px 1742px #fff, 655px 1840px #fff, 1657px 1899px #fff, 262px 1220px #fff,
    862px 1962px #fff, 1801px 1201px #fff, 1540px 1663px #fff, 128px 282px #fff,
    1873px 147px #fff, 1018px 951px #fff, 907px 1424px #fff, 653px 66px #fff,
    1518px 604px #fff, 455px 1188px #fff, 1102px 1839px #fff, 558px 1940px #fff,
    1209px 788px #fff, 1328px 1545px #fff, 970px 516px #fff, 225px 729px #fff,
    498px 1256px #fff, 608px 616px #fff, 1058px 214px #fff, 1156px 1133px #fff,
    425px 1419px #fff, 673px 1669px #fff, 89px 734px #fff, 850px 1217px #fff,
    764px 1525px #fff, 363px 1424px #fff, 666px 1411px #fff, 1645px 708px #fff,
    1850px 898px #fff, 767px 598px #fff, 1px 574px #fff, 461px 1714px #fff,
    782px 1896px #fff, 423px 1781px #fff, 336px 98px #fff, 1317px 27px #fff,
    1501px 1926px #fff, 520px 1180px #fff, 358px 702px #fff, 1808px 1705px #fff,
    605px 1033px #fff, 1716px 972px #fff, 1811px 793px #fff, 1942px 21px #fff,
    819px 111px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 250px 1298px #fff, 1981px 1166px #fff, 41px 1066px #fff,
    134px 49px #fff, 1387px 1038px #fff, 833px 1771px #fff, 618px 1649px #fff,
    1256px 727px #fff, 1739px 125px #fff, 196px 416px #fff, 53px 1619px #fff,
    1847px 1153px #fff, 1138px 1666px #fff, 1373px 288px #fff,
    1445px 1474px #fff, 30px 1823px #fff, 506px 1434px #fff, 957px 1163px #fff,
    653px 179px #fff, 1072px 510px #fff, 664px 770px #fff, 1984px 1172px #fff,
    1262px 1289px #fff, 1182px 1708px #fff, 817px 1673px #fff,
    1592px 1781px #fff, 1602px 594px #fff, 417px 983px #fff, 441px 1763px #fff,
    1457px 838px #fff, 1587px 132px #fff, 240px 727px #fff, 1806px 678px #fff,
    1330px 283px #fff, 971px 1280px #fff, 429px 906px #fff, 634px 1511px #fff,
    1189px 1925px #fff, 804px 1497px #fff, 1898px 1206px #fff, 1808px 413px #fff,
    1673px 1730px #fff, 436px 100px #fff, 830px 1492px #fff, 957px 1329px #fff,
    1074px 285px #fff, 516px 584px #fff, 1277px 806px #fff, 1375px 561px #fff,
    94px 151px #fff, 688px 733px #fff, 1303px 706px #fff, 497px 191px #fff,
    547px 335px #fff, 714px 1393px #fff, 771px 443px #fff, 358px 1774px #fff,
    758px 1866px #fff, 1587px 465px #fff, 1005px 1878px #fff, 487px 1052px #fff,
    7px 33px #fff, 827px 603px #fff, 489px 771px #fff, 795px 141px #fff,
    94px 393px #fff, 1955px 1428px #fff, 1150px 719px #fff, 673px 454px #fff,
    1258px 787px #fff, 225px 1151px #fff, 1621px 1747px #fff, 1766px 1030px #fff,
    235px 554px #fff, 1863px 317px #fff, 1668px 1336px #fff, 63px 420px #fff,
    8px 535px #fff, 1320px 1932px #fff, 1769px 542px #fff, 671px 512px #fff,
    303px 1493px #fff, 1568px 56px #fff, 1614px 1737px #fff, 1438px 1766px #fff,
    1356px 626px #fff, 975px 1711px #fff, 876px 1483px #fff, 410px 1805px #fff,
    418px 541px #fff, 1965px 1293px #fff, 1992px 960px #fff, 1661px 82px #fff,
    1930px 672px #fff, 1142px 895px #fff, 794px 1038px #fff, 1864px 623px #fff,
    1548px 365px #fff, 1012px 291px #fff, 1017px 1151px #fff, 1458px 1275px #fff,
    1521px 231px #fff, 878px 233px #fff, 320px 1579px #fff, 1218px 289px #fff,
    80px 1378px #fff, 1956px 245px #fff, 1188px 1419px #fff, 1341px 1213px #fff,
    481px 966px #fff, 1637px 798px #fff, 1833px 917px #fff, 704px 186px #fff,
    1958px 184px #fff, 1819px 244px #fff, 580px 334px #fff, 188px 960px #fff,
    499px 344px #fff, 107px 234px #fff, 582px 376px #fff, 10px 221px #fff,
    49px 271px #fff, 1167px 1002px #fff, 999px 108px #fff, 1712px 1738px #fff,
    852px 423px #fff, 1878px 529px #fff, 1452px 630px #fff, 663px 215px #fff,
    1691px 9px #fff, 266px 1782px #fff, 718px 1153px #fff, 317px 1422px #fff,
    1235px 1697px #fff, 252px 168px #fff, 149px 1693px #fff, 1426px 288px #fff,
    56px 136px #fff, 457px 1055px #fff, 490px 691px #fff, 1800px 951px #fff,
    1289px 1575px #fff, 446px 940px #fff, 429px 1118px #fff, 1919px 1172px #fff,
    278px 507px #fff, 1602px 1975px #fff, 764px 176px #fff, 1715px 378px #fff,
    1219px 1622px #fff, 778px 1582px #fff, 1789px 1710px #fff, 1799px 521px #fff,
    530px 1815px #fff, 1615px 61px #fff, 1956px 1639px #fff, 1970px 203px #fff,
    1602px 1643px #fff, 1388px 1141px #fff, 1795px 1740px #fff, 743px 957px #fff,
    439px 645px #fff, 1278px 1098px #fff, 1151px 1530px #fff, 663px 1033px #fff,
    1810px 627px #fff, 898px 1301px #fff, 1879px 549px #fff, 1454px 1076px #fff,
    2px 1563px #fff, 825px 693px #fff, 1226px 1481px #fff, 83px 938px #fff,
    1045px 888px #fff, 328px 1147px #fff, 27px 1638px #fff, 1212px 1217px #fff,
    1899px 264px #fff, 1215px 1600px #fff, 1620px 1610px #fff, 603px 1895px #fff,
    164px 1054px #fff, 1341px 834px #fff, 569px 1459px #fff, 928px 1122px #fff,
    1285px 574px #fff, 85px 1433px #fff, 358px 9px #fff, 1967px 1429px #fff,
    973px 61px #fff, 27px 1845px #fff, 59px 1649px #fff, 1379px 1890px #fff,
    608px 585px #fff, 1401px 1150px #fff, 33px 1897px #fff, 1243px 1111px #fff,
    1536px 1710px #fff, 486px 67px #fff, 635px 740px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  /* top: 2000px; */
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 250px 1298px #fff, 1981px 1166px #fff, 41px 1066px #fff,
    134px 49px #fff, 1387px 1038px #fff, 833px 1771px #fff, 618px 1649px #fff,
    1256px 727px #fff, 1739px 125px #fff, 196px 416px #fff, 53px 1619px #fff,
    1847px 1153px #fff, 1138px 1666px #fff, 1373px 288px #fff,
    1445px 1474px #fff, 30px 1823px #fff, 506px 1434px #fff, 957px 1163px #fff,
    653px 179px #fff, 1072px 510px #fff, 664px 770px #fff, 1984px 1172px #fff,
    1262px 1289px #fff, 1182px 1708px #fff, 817px 1673px #fff,
    1592px 1781px #fff, 1602px 594px #fff, 417px 983px #fff, 441px 1763px #fff,
    1457px 838px #fff, 1587px 132px #fff, 240px 727px #fff, 1806px 678px #fff,
    1330px 283px #fff, 971px 1280px #fff, 429px 906px #fff, 634px 1511px #fff,
    1189px 1925px #fff, 804px 1497px #fff, 1898px 1206px #fff, 1808px 413px #fff,
    1673px 1730px #fff, 436px 100px #fff, 830px 1492px #fff, 957px 1329px #fff,
    1074px 285px #fff, 516px 584px #fff, 1277px 806px #fff, 1375px 561px #fff,
    94px 151px #fff, 688px 733px #fff, 1303px 706px #fff, 497px 191px #fff,
    547px 335px #fff, 714px 1393px #fff, 771px 443px #fff, 358px 1774px #fff,
    758px 1866px #fff, 1587px 465px #fff, 1005px 1878px #fff, 487px 1052px #fff,
    7px 33px #fff, 827px 603px #fff, 489px 771px #fff, 795px 141px #fff,
    94px 393px #fff, 1955px 1428px #fff, 1150px 719px #fff, 673px 454px #fff,
    1258px 787px #fff, 225px 1151px #fff, 1621px 1747px #fff, 1766px 1030px #fff,
    235px 554px #fff, 1863px 317px #fff, 1668px 1336px #fff, 63px 420px #fff,
    8px 535px #fff, 1320px 1932px #fff, 1769px 542px #fff, 671px 512px #fff,
    303px 1493px #fff, 1568px 56px #fff, 1614px 1737px #fff, 1438px 1766px #fff,
    1356px 626px #fff, 975px 1711px #fff, 876px 1483px #fff, 410px 1805px #fff,
    418px 541px #fff, 1965px 1293px #fff, 1992px 960px #fff, 1661px 82px #fff,
    1930px 672px #fff, 1142px 895px #fff, 794px 1038px #fff, 1864px 623px #fff,
    1548px 365px #fff, 1012px 291px #fff, 1017px 1151px #fff, 1458px 1275px #fff,
    1521px 231px #fff, 878px 233px #fff, 320px 1579px #fff, 1218px 289px #fff,
    80px 1378px #fff, 1956px 245px #fff, 1188px 1419px #fff, 1341px 1213px #fff,
    481px 966px #fff, 1637px 798px #fff, 1833px 917px #fff, 704px 186px #fff,
    1958px 184px #fff, 1819px 244px #fff, 580px 334px #fff, 188px 960px #fff,
    499px 344px #fff, 107px 234px #fff, 582px 376px #fff, 10px 221px #fff,
    49px 271px #fff, 1167px 1002px #fff, 999px 108px #fff, 1712px 1738px #fff,
    852px 423px #fff, 1878px 529px #fff, 1452px 630px #fff, 663px 215px #fff,
    1691px 9px #fff, 266px 1782px #fff, 718px 1153px #fff, 317px 1422px #fff,
    1235px 1697px #fff, 252px 168px #fff, 149px 1693px #fff, 1426px 288px #fff,
    56px 136px #fff, 457px 1055px #fff, 490px 691px #fff, 1800px 951px #fff,
    1289px 1575px #fff, 446px 940px #fff, 429px 1118px #fff, 1919px 1172px #fff,
    278px 507px #fff, 1602px 1975px #fff, 764px 176px #fff, 1715px 378px #fff,
    1219px 1622px #fff, 778px 1582px #fff, 1789px 1710px #fff, 1799px 521px #fff,
    530px 1815px #fff, 1615px 61px #fff, 1956px 1639px #fff, 1970px 203px #fff,
    1602px 1643px #fff, 1388px 1141px #fff, 1795px 1740px #fff, 743px 957px #fff,
    439px 645px #fff, 1278px 1098px #fff, 1151px 1530px #fff, 663px 1033px #fff,
    1810px 627px #fff, 898px 1301px #fff, 1879px 549px #fff, 1454px 1076px #fff,
    2px 1563px #fff, 825px 693px #fff, 1226px 1481px #fff, 83px 938px #fff,
    1045px 888px #fff, 328px 1147px #fff, 27px 1638px #fff, 1212px 1217px #fff,
    1899px 264px #fff, 1215px 1600px #fff, 1620px 1610px #fff, 603px 1895px #fff,
    164px 1054px #fff, 1341px 834px #fff, 569px 1459px #fff, 928px 1122px #fff,
    1285px 574px #fff, 85px 1433px #fff, 358px 9px #fff, 1967px 1429px #fff,
    973px 61px #fff, 27px 1845px #fff, 59px 1649px #fff, 1379px 1890px #fff,
    608px 585px #fff, 1401px 1150px #fff, 33px 1897px #fff, 1243px 1111px #fff,
    1536px 1710px #fff, 486px 67px #fff, 635px 740px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1990px 625px #fff, 395px 1371px #fff, 137px 1724px #fff,
    1846px 708px #fff, 1048px 919px #fff, 1756px 851px #fff, 1807px 547px #fff,
    783px 1208px #fff, 1773px 1403px #fff, 262px 1353px #fff, 156px 79px #fff,
    449px 1497px #fff, 786px 1953px #fff, 1170px 1199px #fff, 1920px 163px #fff,
    186px 1285px #fff, 1508px 572px #fff, 629px 702px #fff, 100px 1750px #fff,
    1958px 1426px #fff, 3px 1538px #fff, 1610px 56px #fff, 1647px 1843px #fff,
    665px 1130px #fff, 1510px 567px #fff, 1902px 1826px #fff, 744px 532px #fff,
    511px 1737px #fff, 1649px 170px #fff, 1986px 1557px #fff, 318px 795px #fff,
    596px 493px #fff, 718px 245px #fff, 1422px 1497px #fff, 17px 294px #fff,
    1776px 99px #fff, 1173px 1318px #fff, 1213px 1074px #fff, 1190px 1854px #fff,
    21px 1338px #fff, 316px 1218px #fff, 792px 474px #fff, 708px 1587px #fff,
    327px 1946px #fff, 936px 1715px #fff, 860px 1807px #fff, 766px 150px #fff,
    1722px 1451px #fff, 1140px 895px #fff, 920px 1532px #fff, 1565px 1771px #fff,
    997px 622px #fff, 59px 618px #fff, 202px 465px #fff, 445px 562px #fff,
    1550px 1959px #fff, 152px 820px #fff, 37px 1507px #fff, 1532px 1517px #fff,
    1162px 1123px #fff, 526px 339px #fff, 416px 681px #fff, 1112px 1772px #fff,
    638px 1351px #fff, 830px 545px #fff, 432px 1218px #fff, 209px 1187px #fff,
    992px 875px #fff, 1587px 278px #fff, 1694px 1516px #fff, 951px 488px #fff,
    239px 761px #fff, 599px 729px #fff, 1125px 618px #fff, 1507px 1385px #fff,
    1550px 782px #fff, 1673px 1356px #fff, 1960px 387px #fff, 1112px 1441px #fff,
    686px 1994px #fff, 75px 12px #fff, 1556px 1663px #fff, 139px 103px #fff,
    1991px 1563px #fff, 1323px 458px #fff, 773px 1424px #fff, 1851px 1689px #fff,
    377px 516px #fff, 1100px 1117px #fff, 14px 456px #fff, 1619px 1549px #fff,
    349px 105px #fff, 318px 170px #fff, 1104px 1456px #fff, 954px 521px #fff,
    130px 510px #fff, 1352px 43px #fff, 1116px 1262px #fff, 360px 1005px #fff,
    1554px 175px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  /* top: 2000px; */
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1990px 625px #fff, 395px 1371px #fff, 137px 1724px #fff,
    1846px 708px #fff, 1048px 919px #fff, 1756px 851px #fff, 1807px 547px #fff,
    783px 1208px #fff, 1773px 1403px #fff, 262px 1353px #fff, 156px 79px #fff,
    449px 1497px #fff, 786px 1953px #fff, 1170px 1199px #fff, 1920px 163px #fff,
    186px 1285px #fff, 1508px 572px #fff, 629px 702px #fff, 100px 1750px #fff,
    1958px 1426px #fff, 3px 1538px #fff, 1610px 56px #fff, 1647px 1843px #fff,
    665px 1130px #fff, 1510px 567px #fff, 1902px 1826px #fff, 744px 532px #fff,
    511px 1737px #fff, 1649px 170px #fff, 1986px 1557px #fff, 318px 795px #fff,
    596px 493px #fff, 718px 245px #fff, 1422px 1497px #fff, 17px 294px #fff,
    1776px 99px #fff, 1173px 1318px #fff, 1213px 1074px #fff, 1190px 1854px #fff,
    21px 1338px #fff, 316px 1218px #fff, 792px 474px #fff, 708px 1587px #fff,
    327px 1946px #fff, 936px 1715px #fff, 860px 1807px #fff, 766px 150px #fff,
    1722px 1451px #fff, 1140px 895px #fff, 920px 1532px #fff, 1565px 1771px #fff,
    997px 622px #fff, 59px 618px #fff, 202px 465px #fff, 445px 562px #fff,
    1550px 1959px #fff, 152px 820px #fff, 37px 1507px #fff, 1532px 1517px #fff,
    1162px 1123px #fff, 526px 339px #fff, 416px 681px #fff, 1112px 1772px #fff,
    638px 1351px #fff, 830px 545px #fff, 432px 1218px #fff, 209px 1187px #fff,
    992px 875px #fff, 1587px 278px #fff, 1694px 1516px #fff, 951px 488px #fff,
    239px 761px #fff, 599px 729px #fff, 1125px 618px #fff, 1507px 1385px #fff,
    1550px 782px #fff, 1673px 1356px #fff, 1960px 387px #fff, 1112px 1441px #fff,
    686px 1994px #fff, 75px 12px #fff, 1556px 1663px #fff, 139px 103px #fff,
    1991px 1563px #fff, 1323px 458px #fff, 773px 1424px #fff, 1851px 1689px #fff,
    377px 516px #fff, 1100px 1117px #fff, 14px 456px #fff, 1619px 1549px #fff,
    349px 105px #fff, 318px 170px #fff, 1104px 1456px #fff, 954px 521px #fff,
    130px 510px #fff, 1352px 43px #fff, 1116px 1262px #fff, 360px 1005px #fff,
    1554px 175px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
